body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    
    h1{
        margin-top: 2em;
    }
    table{
        border: 0.4px solid black;
        margin-top: 2em;
    }
}